.nav {
    background: transparent;
}

.parallax-container {
    height: 600px;
}

.container {
    padding: 8px;
}

@media only screen and (max-width:1600px){
       .section {
         display: none !important
       }
}

.section {
    position: fixed;
    bottom: 0px;
    right: 0px;
    max-width: 50%;
    font-size: 2em;
    color: #666;
    display: none;
    -webkit-user-select: none;
    cursor: default;
}

.display-3 {
 position: relative;
 left: 2.5%;
 margin-top: 15px;
 margin-bottom: -50px;
 max-width: 50%;
}

body {
    position: relative;
}

p {
    font-size: 20px;
    margin-bottom: 0;
}

div.my-3>h1 {
    padding-top: 32px;
}

#Ar-What-Container {
    min-height: calc(100vh - 600px);
}

#ArWhat {
    height: 600px;
}

#Home {
    min-height: 1px;
}
