.nav {
    background: transparent;
}

.parallax-container {
    height: 600px;
}

.container {
    padding: 8px;
}

body {
    position: relative;
}

p {
    font-size: 20px;
    margin-bottom: 0;
}

div.my-3>h1 {
    padding-top: 32px;
}

#Ar-What-Container {
    min-height: calc(100vh - 600px);
}

#ArWhat {
    height: 600px;
}

#Home {
    min-height: 1px;
}
