.nav {
  background: transparent;
}

.parallax-container {
  height: 600px;
}

.container {
  padding: 8px;
}

p {
  font-size: 20px;
  margin-bottom: 0;
}

div.my-3 > h1 {
  padding-top: 32px;
}

#Ar-What{
  min-height: calc(100vh - 600px);
}

#Ar-What-Para{
  height: 600px;
}
